
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

    <br />
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Puntos de Calor</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                        <div id="bar-traffic-legend"></div>
                        <div class="container">
                            <center>
                                <div class="containerimagen">
                                    <img class="image" src="../../assets/images/calor.png">
                                    <div class="middle">
                                        <a href="@(Url.Action("index","visor"))" class="btn btn-primary" role="button">Ir a Dashboard</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Usos y Cobertura de la Tierra</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                        <div id="bar-traffic-legend"></div>
                        <div class="container">
                            <center>
                                <div class="containerimagen">
                                    <img  class="image" src="../../assets/images/suelo.png">
                                    <div class="middle">
                                        <a href="@(Url.Action("VisorCobertura","visor"))" class="btn btn-primary" role="button">Ir a Dashboard</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
